client/node_modules
client/dist
client/tools/typings/tsd

# Users Environment Variables
.lock-wscript
.tsdrc

#IDE configuration files
.idea
.vscode

#SBT
target
project/target
project/project

dist/dev/**
client/app/assets/grid.css
